</main>
<footer>
    <div class="footer-content" >
        <p>&copy; 2024 My Blog. All rights reserved.</p>
        <p>Designed with <span>&hearts;</span> by <a href="#">Timon Losute &trade;</a></p>
    </div>
</footer>
</body>
</html>