<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div>
        <h1 class="logo"><span>My Blog</span> Web</h1>
    </div>
    <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</header>

    <main>