<%- include('partials/header.ejs') %>

<!-- <p>This is my first website i built</p>  -->
<div class="page">
    <div class="section section1">
        <h2>Uno</h2>
        <img class = "bellingham" src="section1.jpeg" alt="belingol">
    </div>
    <div class="section section2">
        <h2>Dos</h2>
        <img class = "bellingham" src="section2.jpeg" alt="medal">
    </div>
    <div class="section section3">
        <h2>Tres</h2>
        <img class = "bellingham" src="section3.jpeg" alt="cele">
    </div>
</div>

<div class="halamadrid">
    <h2>HALA MADRID</h2>
    <img src="background.jpeg" alt="Madrid"/>
</div>

<%- include('partials/footer.ejs') %>